﻿<div class="container" data-ng-init="names=['Hosni','Napur','Heedy','Shriva']">
    <h3>Looping with the ng-repeat Directive</h3>
    <h4>Data to loop through is initialized using ng-init</h4>
    <ul>
        <li data-ng-repeat="personName in names">{{personName}}</li>
    </ul>
</div>
<br/>
<br/>
<div class="container">
    Name: <input type="text" data-ng-model="name" placeholder="Type something" />
</div>
<div class="container" data-ng-init="customers = [
            { name: 'Dave Jones', city: 'Phoenix' },
            { name: 'Jamie Riley', city: 'Phoenix' },
            { name: 'Heedy Wahlin', city: 'Chandler' },
            { name: 'Thomas Winter', city: 'Seattle' },
            { name: 'Hosny Ben Slama', city: 'Tunis' },
            { name: 'Hosny ', city: 'Sfax' }]">
    <h3>Looping with the ng-repeat Directive with objects</h3>
    <h4>Data to loop through is initialized using ng-init</h4>
    <ul>
        <li data-ng-repeat="cust in customers | filter:name |orderBy:'city'">{{cust.name | uppercase }} - {{cust.city }}</li>
    </ul>
</div>