<div class="container" data-ng-app="demoApp" data-ng-controller="SimpleController1">
    <h3>Adding a Simple Controller</h3>
    <ul>
        <li data-ng-repeat="name in names">{{name}}</li>
    </ul>
</div>

<div class="container" data-ng-app="demoApp" data-ng-controller="GreetingController">
    <h3>Reading the scope object greeting : {{greeting}}</h3>
</div>

<script>
    function SimpleController($scope) {
        $scope.names = ['Dave', 'Napur', 'Heedy', 'Shriva'];
    }

    samplesModule.controller('SimpleController', SimpleController);
</script>
<script>
    samplesModule.controller('SimpleController1',['$scope', function($scope) {
        $scope.names = ['Dave', 'Napur', 'Heedy', 'Shriva'];
    }]);
</script>
<script>
    samplesModule.controller('GreetingController', ['$scope', function($scope) {
        $scope.greeting = 'Hola!';
    }]);
</script>


